
  
<!-- **** Slides setup ****-->

<ion-content>
  <ion-grid>
    <ion-row>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide class="slides">
  <ion-img src="../../assets/images/bb.jpg"></ion-img>
    </ion-slide>

    <ion-slide class="slides">
      <ion-img src="../../assets/images/p.jpg"></ion-img>
    </ion-slide>

    <ion-slide class="slides">
      <ion-img src="../../assets/images/k.jpg"></ion-img>
    </ion-slide>

  <ion-slide class="slides">
    <ion-img src="../../assets/images/hh.jpg"></ion-img>
  </ion-slide>
</ion-slides>
</ion-row>
</ion-grid>
 

<!---**** Avatar setup ****-->

 <ion-grid>
    <ion-row>       
      <h6 style="font-style: italic;color: cornflowerblue; padding-left: 20px;font-size: small;margin-top: 2px;margin-bottom: 2px;">Nossos Pastores</h6>
  </ion-row> 
 </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>
         <div>
       <ion-item>
          <ion-avatar slot="start" style="border-radius: 20px;">
              <img src="../../assets/images/hj.jpg">
              
            </ion-avatar>
            <ion-label style="font-size: small;">Pastor Kene</ion-label>
            
        </ion-item> 
        </div>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-avatar slot="start">
                <img src="../../assets/images/2.jpg">
              </ion-avatar>
              <ion-label style="font-size: small;">Pastora Reina Ume</ion-label>
            </ion-item>
          </div>
        </ion-col>
        </ion-row>
  </ion-grid>
   </ion-content>